html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: #f1f2b5; /* fallback for old browsers */
    background: linear-gradient(
        -45deg,
        rgb(119, 158, 180),
        rgb(63, 124, 160),
        rgba(234, 232, 241, 0)
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* filter: blur(8px); */
}

#title {
    /* position: relative; */
    margin-left: 35%;
    font-size: 2rem;
}

.clock {
    box-shadow: 5px 10px rgba(255, 255, 255, 0.4);
    background: rgba(255, 255, 255, 0.4);
    padding: 8rem;
    border-radius: 30px;
    color: red;
    filter: blur(0);
    font-family: "Orbitron", sans-serif;
    font-size: 3rem;
}

.time {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
/* .clock {
    position: relative;
    display: flex;
    justify-content: center;
}

#hr {
    width: 100px;
    height: 100px;
    padding: 10px;
}

#min {
    width: 100px;
    height: 100px;
    padding: 10px;
}

#sec {
    width: 100px;
    height: 100px;
    padding: 10px;
} */
