body {
    background-color: aquamarine;
}

.calculator {
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 10px;
    border: solid black;
    border-radius: 10px;
    height: 600px;
    width: fit-content;
    margin: 7% auto;
    /* padding: 10px; */
    align-self: center;
}

.output {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    height: 10rem;
    font-size: 3rem;
    text-align: end;
    margin-bottom: 0;
    padding: 0;
}

.numpad {
    display: grid;
}

.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* align-items: center;
    justify-content: center; */
}

.col {
    font-size: 1.5rem;
    font-weight: 900;
    border: solid black;
    border-radius: 10px;
    margin: 1px;
    text-align: center;
    padding: 1.5rem 2.1rem;
}

.row-1 > .col-1 {
    grid-column: 1 / span 2;
}

.col:hover {
    background-color: rgba(12, 12, 12, 0.3);
    cursor: pointer;
}
