body {
    background-color: aquamarine;
}

.calculator {
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 10px;
    border: solid black;
    border-radius: 10px;
    height: 500px;
    width: 25%;
    margin: 7% auto;
    padding: 10px;
    align-self: center;
}

.output {
    background: rgb(255, 255, 255);
    border-radius: 10px;
}

.numpad {
    display: flex;
}

.row {
    display: grid;
    align-items: center;
    justify-content: center;
}

.col {
    font-size: 1.5rem;
    font-weight: 900;
    border: solid black;
    border-radius: 10px;
    margin: 1px;
    padding: 2.1rem;
}
